@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tourcy</h1>
    <p class="lead">Tourcy e web aplikacija za turisticka agencija. So koristenje na Entity Framework (code first) se cuvaat i prikazuvaat pocatoci za klientite i turite koishto gi nudi ovaa agencija. Ima moznost za najvava preku google i facebook. Ima eden korisnik-administrator kojshto mozi da gi ureduva, brishi i da dodava novi turi ili korisnici.</p>
    
</div>


